
// _footer.scss
// As the name implies, this is where you can
// find the footer implementation.

footer {
    height: 200px;
    width: 100%;
    background: white;
    border: 3px solid red;

    position: absolute;
    bottom: 0px;
}