// _variables.scss
@import url(https://fonts.googleapis.com/css?family=Lobster|Arvo);

$bg-color: #EAC68A; // "Cream"
$color1: #312B22;   // Dark gray

$h1-font: Lobster, sans-serif;
$box-font: Arvo, sans-serif;