@import 'variables';    // Contains all the variables in the stylesheet
@import 'footer';

html body {
    margin: 0;
    padding: 0;
    min-height: 100%;

    // TODO: Works fine with Chromium, add support for another engines as well.
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#57c1eb), to(#246fa8));
}

#box {
    margin: 100px auto 20px;
    width: 400px;
    background: none;

    h1 {
        font-size: 7em;
        font-family: $h1-font;
        font-weight: 400;
        color: $color1;
        text-align: center;

        border-bottom: 2px solid $color1;
    }

    p {
        padding: .2em 1em 0 1em;
        font-family: $box-font;
        font-weight: 500;
        font-size: 1.5em;
    }
}