@import 'variables';    // Contains all the variables in the stylesheet
@import 'footer';

html body {
    margin: 0;
    padding: 0;
    min-height: 100%;

    // TODO: Works fine with Chromium, add support for another engines as well.
    //background: -webkit-gradient(radial, center center, 0, center center, 460, from($gradient1), to($gradient2));
    background: $background-color;
}

#box {
    margin: 100px auto 20px;
    width: 400px;
    background: none;

    h1 {
        font-size: 5em;
        font-family: $h1-font;
        font-weight: 400;
        text-transform: uppercase;
        color: $color1;
        text-align: center;
        text-shadow: rgba(0, 0, 0, .2) 5px 5px 5px;

        border-bottom: 5px solid $border-color;
        margin-bottom: 0;
    }

    p {
        padding: 0em 1em 0 1em;
        font-family: $box-font;
        font-weight: 500;
        font-size: 1.8em;
        color: $color2;
    }
}

.info {
    color: $accent1;
    font-weight: 600;
}